h1{
    color:darkblue;
    text-align: center;
    display: block;
}
.Button
{
  font-size: 30px;
  background-color: beige;
  margin: auto;
  padding: 20px 80px;
  border: 1px solid coral;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}
.button{
  padding-left: 0%;
  padding-bottom: 30px;
}
  

.Button:hover
{
  background: coral;
  text-decoration: saddlebrown;
  transition: .1s;
}

video {
    /* override other styles to make responsive */
    width: 50%    !important;
    height: 40%  !important;
  }
  p.frends{

  text-align: center;
  font-size: 30px;

  }
  .centerize{
    text-align: center;
  }
  .h2{
     font-size: 25px;
  }
  #pic{
    float: left;
    height: 110px;
    width:110px;
  }
  
  body{
    background-image: url(/images/cala.jpg);
    
    text-align: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 8%;
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    overflow-x: hidden;
}
#scol{
  color:rebeccapurple;
  background-color: oldlace;
  }
  .jumbotron{
    background-color: rgb(12, 136, 136);
  }
  