h1{
    color :blue;
}
.Button
{
  font-size: 30px;
  background-color: beige;
  margin: auto;
  padding: 20px 80px;
  border: 1px solid coral;
  border-radius: 25px;
  text-decoration: none;
}
.Button:hover
{
  background: coral;
  text-decoration: saddlebrown;
  transition: .1s;
}
@media screen and (min-width: 580px) and (max-width: 767px) {
    .video-background
    {
      width: auto;
      height: 100%;
    }